.slideshow .flickity-prev-next-button {
    border: solid 1px #000;
    color: #000;
    background-color: transparent;
    font-size: 14px;
    width: 54px;
    height: 54px;
    line-height: 52px;
    text-align: center;
    -webkit-transition: 0.5s ease-in-out 0s;
    -moz-transition: 0.5s ease-in-out 0s;
    -ms-transition: 0.5s ease-in-out 0s;
    -o-transition: 0.5s ease-in-out 0s;
    transition: 0.5s ease-in-out 0s;
}
.slideshow:hover .flickity-prev-next-button.previous {
    -webkit-transform: translateX(-10px) translateY(-50%);
    -moz-transform: translateX(-10px) translateY(-50%);
    -ms-transform: translateX(-10px) translateY(-50%);
    -o-transform: translateX(-10px) translateY(-50%);
    transform: translateX(-10px) translateY(-50%);
}
.slideshow:hover .flickity-prev-next-button.next {
    -webkit-transform: translateX(10px) translateY(-50%);
    -moz-transform: translateX(10px) translateY(-50%);
    -ms-transform: translateX(10px) translateY(-50%);
    -o-transform: translateX(10px) translateY(-50%);
    transform: translateX(10px) translateY(-50%);
}
.slideshow .flickity-prev-next-button::before {
    content: "\e90a";
}
.slideshow .flickity-prev-next-button.next::before {
    content: "\e90b";
}
.slideshow .flickity-prev-next-button {
    left: 110px;
}
.slideshow .flickity-prev-next-button.next {
    left: auto;
    right: 110px;
}
.slideshow {
    position: relative;
    overflow: hidden;
}
.slideshow .item-slide {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
}
.slideshow .item-slide img {
    -webkit-transition: transform 1.5s ease-in-out 0.5s;
    -moz-transition: transform 1.5s ease-in-out 0.5s;
    -ms-transition: transform 1.5s ease-in-out 0.5s;
    -o-transition: transform 1.5s ease-in-out 0.5s;
    transition: transform 1.5s ease-in-out 0.5s;
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
.slideshow .item-slide:not(.is-selected) img  {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    position: relative;
    z-index: -1;
}
.slideshow-01 .slide-content {
    padding-left: 195px;
}
.slideshow-01 .slide-content .content {
    max-width: 400px;
}
.item-slide .title {
    font-size: 70px;
    font-weight: 300;
    color: #000000;
    line-height: 70px;
    margin-bottom: 12px;
}
.item-slide .title > span {
    display: block;
}
.item-slide .subtitle {
    font-size: 16px;
    color: #000000;
    margin: 0 0 15px;
    text-transform: uppercase;
}
.item-slide .subtitle > span {
    display: block;
}
.item-slide .button {
    width: 180px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    background-color: #000;
    line-height: 48px;
    border: solid 1px #000;
    padding: 0 15px;
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
}
.item-slide .button:hover {
    background-color: #fff;
    color: #000;
}
.slideshow .item-slide.is-selected .slide-content .title {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: bounceInDown;
    -webkit-animation-name: bounceInDown;
}
.slideshow .item-slide.is-selected .slide-content .subtitle {
    animation-duration: 5s;
    -webkit-animation-duration: 5s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
}
.slideshow .item-slide.is-selected .slide-content .button {
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-name: bounceInUp;
    -webkit-animation-name: bounceInUp;
}
.slideshow .flickity-page-dots {
    bottom: 60px;
    display: inline-block;
    vertical-align: top;
    width: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.slideshow .flickity-page-dots .dot {
    background-color: #a19791;
    opacity: 1;
}
.slideshow .flickity-page-dots .dot.is-selected,
.flickity-page-dots .dot.is-selected {
    background-color: #000;
}
.slideshow-02 {
    padding: 0;
}
.slideshow-02 .slide-content {
    left: 0;
}
.slideshow-02 .slide-content .content {
    max-width: 100%;
}
.slideshow-02 .item-slide .title {
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    color: #fff;
}
.slideshow-02 .item-slide .subtitle {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
}
.slideshow-02 .item-slide .button {
    font-size: 16px;
    line-height: 49px;
    color: #000;
    background-color: #fff;
    min-width: 180px;
    padding: 0 20px;
    text-align: center;
    border-color: #fff;
}
.slideshow-02 .item-slide .button:hover {
    background-color: #000;
    color: #fff;
    border-color: #000;
}
.slideshow-02 .flickity-prev-next-button,
.slideshow-03 .flickity-prev-next-button {
    color: #fff;
    border-color: #fff;
}
.slideshow-02 .flickity-prev-next-button:hover,
.slideshow-03 .flickity-prev-next-button:hover {
    color: #000;
    border-color: #000;
}
.slideshow-03 .item-slide .subtitle {
    color: #fff;
    letter-spacing: 4.8px;
}
.slideshow-03 .item-slide .title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 0;
    color: #fff;
}
.slideshow-03 .item-slide .button {
    line-height: 30px;
    border: none;
    border-bottom: solid 1px #fff;
    color: #fff;
    background-color: transparent;
    padding: 0;
    width: auto;
    min-width: 1px;
}
.slideshow-03 .item-slide .button::before {
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    top: -1px;
    background-color: #fff;
    content: "";
    position: absolute;
    z-index: 1;
    transform: scale(0);
    transition: all 0.5s ease-in-out 0s;
}
.slideshow-03 .item-slide .button:hover::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.slideshow-04 .flickity-page-dots {
    left: 13%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.slideshow-04 .item-slide .title {
    font-size: 70px;
    line-height: 85px;
    font-weight: 300;
    margin-bottom: 33px;
}
.slideshow-04 .item-slide .title > span {
    display: block;
}
.slideshow-04 .item-slide .button {
    text-transform: uppercase;
    line-height: 45px;
    margin: 0 10px 0 0;
    font-size: 13px;
    width: 154px;
}
.slideshow-05 .slide-content .content {
    max-width: 470px;
    margin-left: 100px;
}
.slideshow-05 .item-slide .subtitle {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 4.2px;
}

.slideshow-05 .item-slide .title {
    font-size: 70px;
    font-weight: 300;
    line-height: 70px;
}
.slideshow-05 .item-slide .button {
    border: solid 2px #000;
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: 41px;
    width: 154px;
    background-color: transparent;
}
.slideshow-05 .item-slide .button:hover {
    color: #fff;
    background-color: #000;
}

.slideshow-06 .slide-content {
    top: auto;
    bottom: 120px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.slideshow-06 .item-slide .subtitle {
    letter-spacing: 4.8px;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}
.slideshow-06 .item-slide .title {
    font-size: 60px;
    line-height: 72px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 25px;
}
.slideshow-06 .item-slide .button {
    font-size: 16px;
    color: #000;
    background-color: #fff;
    line-height: 50px;
    border: none;
}
.slideshow-06 .item-slide .button:hover {
    color: #fff;
    background-color: #000;
}
.slideshow-07 .flickity-page-dots {
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}
.slideshow-07 .item-slide .content > span {
    display: block;
    margin-bottom: 15px;
}
.slideshow-07 .item-slide .title {
    font-size: 80px;
    line-height: 95px;
}
.slideshow-07 .item-slide .button {
    line-height: 40px;
    border: solid 1px #000;
    font-weight: 600;
    font-size: 12px;
    border-radius: 22px;
    width: auto;
    padding: 0 40px;
    margin: 0;
}
.slideshow-09 .button {
    border: solid 2px #fff;
    color: #fff;
    background-color: transparent;
    line-height: 39px;
    width: auto;
    margin-top: 30px;
    padding: 0 40px;
}
.slideshow-09 .button:hover {
    color: #000;
    background-color: #fff;
}
.slideshow-09 .flickity-prev-next-button {
    width: 46px;
    height: 46px;
    border-color: #fff;
    color: #fff;
    line-height: 42px;
    font-size: 12px;
}
.slideshow-09 .flickity-prev-next-button:hover {
    color: #000;
    border-color: #000;
}
.slideshow-09 .flickity-page-dots .dot {
    background-color: #fff;
    border: solid 1px #fff;
}
.slideshow-09 .flickity-page-dots .dot.is-selected {
    background-color: transparent;
}
.slideshow-12 .slide-content {
    left: 11%;
}
.slideshow-12 .title {
    font-size: 60px;
    line-height: 72px;
    color: #000;
    font-weight: 300;
    margin-bottom: 15px;
}
.slideshow-12 .title > span {
    display: block;
    font-weight: 500;
}
.slideshow-12 .subtitle {
    font-size: 20px;
    color: #000;
    text-transform: none;
}
.slideshow-12 .button {
    background-color: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 43px;
    padding: 0 25px;
    width: auto;
}

    /*Banner*/
.unsen-banner.style-01 .banner-content {
    position: absolute;
    z-index: 1;
    bottom: 120px;
    left: 0;
    right: 0;
    text-align: center;
}
.unsen-banner.banner-01 .banner-content {
    margin-left: 50px;
}
.unsen-banner .inner {
    display: block;
    vertical-align: top;
    overflow: hidden;
    max-width: 100%;
    position: relative;
}
.unsen-banner .content-absolute {
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.unsen-banner .hover-element {
    -webkit-transition: 0.5s ease 0s;
    -moz-transition: 0.5s ease 0s;
    -ms-transition: 0.5s ease 0s;
    -o-transition: 0.5s ease 0s;
    transition: 0.5s ease 0s;
}
.unsen-banner:hover .hover-element {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.unsen-banner .subtitle {
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.unsen-banner.style-01 .subtitle {
    text-transform: uppercase;
    letter-spacing: 3.6px;
}
.unsen-banner .title {
    font-size: 45px;
    font-weight: 300;
    color: #000;
    line-height: 45px;
    margin-bottom: 20px;
}
.unsen-banner .subtitle > span,
.unsen-banner .title > span {
    display: block;
}
.unsen-banner .button {
    font-size: 14px;
    color: #000;
    text-decoration: none;
    padding: 0 8px;
    border-bottom: solid 2px #000;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.unsen-banner .button::before {
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    top: -2px;
    background-color: #000000;
    content: '';
    position: absolute;
    z-index: 1;
    -webkit-transition: 0.5s ease-in-out 0s;
    -moz-transition:  0.5s ease-in-out 0s;
    -ms-transition:  0.5s ease-in-out 0s;
    -o-transition:  0.5s ease-in-out 0s;
    transition:  0.5s ease-in-out 0s;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.unsen-banner .button:hover::before {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.row-banner .banner-02 {
    margin-top: 280px;
    float: right;
}
.unsen-banner.style-02 .inner {
    background-color: #f7ebeb;
    width: 100%;
    text-align: center;
    min-height: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.unsen-banner.style-02 .banner-content > span {
    font-size: 64px;
    display: inline-block;
    vertical-align: top;
    line-height: 70px;
    margin-bottom: 25px;
}
.unsen-banner.style-02 .des {
    font-size: 32px;
    color: #000000;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 25px;
    max-width: 870px;
}
.unsen-banner.style-02 .button {
    padding: 0;
}
.unsen-banner.style-03 .inner {
    height: 695px;
    display: block;
}
.unsen-banner.style-03 .hover-element {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    background-attachment: fixed;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.unsen-banner.style-03 .banner-content {
    position: absolute;
    z-index: 1;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}
.unsen-banner.style-03 .button {
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
    position: relative;
    padding: 8px 0;
}
.unsen-banner.style-03 .button::before {
    display: none;
}
.unsen-banner.style-03 .button::after {
    height: 2px;
    content: '';
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: 0.5s ease-in-out 0s;
    -moz-transition: 0.5s ease-in-out 0s;
    -ms-transition: 0.5s ease-in-out 0s;
    -o-transition: 0.5s ease-in-out 0s;
    transition: 0.5s ease-in-out 0s;
    background-color: #fff;
}
.unsen-banner.style-03 .button:hover::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.unsen-banner.style-04 .banner-content {
    text-align: center;
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
}
.unsen-banner.style-04 .title {
    font-size: 40px;
    line-height: 40px;
    font-weight: 300;
}
.unsen-banner.style-04 .subtitle {
    font-size: 14px;
    color: #868686;
    margin-bottom: 35px;
    letter-spacing: 0;
    text-transform: none;
}
.unsen-banner.style-04 .button {
    font-size: 12px;
    color: #000;
    font-weight: 500;
    line-height: 43px;
    border: solid 1px #000;
    min-width: 150px;
    display: inline-block;
    vertical-align: top;
    background-color: transparent;
}
.unsen-banner.style-04 .button:hover {
    color: #fff;
    background-color: #000;
}
.unsen-banner.style-04 .button::before {
    display: none;
}
.unsen-banner.style-05 .banner-content {
    left: 7%;
}
.unsen-banner.style-05 .subtitle {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 5px;
}
.unsen-banner.style-05 .title {
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    margin-bottom: 16px;
}
.unsen-banner.style-05 .button {
    padding: 0;
    font-size: 13px;
}
.unsen-banner.style-06 .banner-content {
    left: 9.6%;
}
.unsen-banner.style-06 .title {
    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
    margin-bottom: 10px;
}
.unsen-banner.style-07 .banner-content {
    left: 0;
    right: 0;
    margin: auto;
}
.unsen-banner.style-07 .b_height {
    background-attachment: fixed;
}
.unsen-banner.style-07 .head {
    margin-bottom: 38px;
}
.unsen-banner.style-07 .head > .icon {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #000;
    border: solid 2px #000;
    width: 90px;
    height: 90px;
    line-height: 86px;
    text-align: center;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 100%;
}
.unsen-banner.style-07 .head .text {
    font-size: 12px;
    color: #000;
    border-bottom: solid 1px #000;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    line-height: 26px;
}
.unsen-banner.style-07 .subtitle {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}
.unsen-banner.style-07 .title {
    font-weight: 300;
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 20px;
}
.unsen-banner.style-07 .button {
    font-size: 13px;
    padding: 0;
}

.unsen-banner.style-08 .banner-content {
    left: 13%;
}
.unsen-banner.style-08 .title {
    font-size: 40px;
    line-height: 48px;
    color: #fff;
    margin-bottom: 8px;
}
.unsen-banner.style-08 .subtitle {
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 18px;
}
.unsen-banner.style-08 .button {
    color: #fff;
    border-color: #fff;
    font-size: 14px;
}
.unsen-banner.style-08 .button::before {
    background-color: #fff;
}
.unsen-banner.style-09 .banner-content {
    bottom: 60px;
    top: auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}
.unsen-banner.style-09 .title {
    font-size: 40px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 15px;
}
.unsen-banner.style-09 .subtitle {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 20px;
    text-transform: none;
}
.unsen-banner.style-09 .button {
    line-height: 36px;
    color: #fff;
    background-color: #000;
    border-radius: 20px;
    text-transform: uppercase;
    border: solid 1px #000;
    padding: 0 25px;
}
.unsen-banner.style-09 .button:hover {
    background-color: #fff;
    color: #000;
}
.unsen-banner.style-09 .button::before {
    display: none;
}
.row-banner.style-10 {
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.row-banner.style-10 > div {
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.unsen-banner.style-10 .banner-content {
    top: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    bottom: 40px;
    left: 45px;
}
.unsen-banner.style-10 .title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 15px;
}
.unsen-banner.style-10 .button {
    padding: 0;
}
.row-banner.style-11,
.row-banner.style-12 {
    margin-left: -10px;
    margin-right: -10px;
}
.row-banner.style-11 > div,
.row-banner.style-12 > div {
    padding-right: 10px;
    padding-left: 10px;
}
.unsen-banner.style-11 .banner-content {
    top: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    left: 80px;
    bottom: 60px;
}
.unsen-banner.style-11 .title {
    line-height: 60px;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 15px;
}
.unsen-banner.style-11 .button {
    padding: 0;
}
.unsen-banner.style-12 .banner-content {
    top: auto;
    left: 0;
    right: 0;
    -webkit-transform: translateY(0);
    -moz-transform:  translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    bottom: 37px;
}
.unsen-banner.style-12 .title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 3px;
    font-weight: 400;
}
.unsen-banner.style-12 .button {
    text-transform: uppercase;
    padding: 0;
    font-size: 12px;
    font-weight: 600;
}
.row-banner.style-13,
.banner-category,
.categories-section.style-08 {
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.row-banner.style-13 > div,
.banner-category > div,
.categories-section.style-08 > div {
    padding-left: 7.5px;
    padding-right: 7.5px;
}
.unsen-banner.style-13 .banner-content {
    right: 0;
    left: 0;
}
.unsen-banner.style-13 .title {
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    margin-bottom: 40px;
}
.unsen-banner.style-13 .button {
    color: #fff;
    background-color: #000;
    border: solid 2px #000;
    line-height: 40px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 40px;
}
.unsen-banner.style-13 .button:hover::before {
    display: none;
}
.unsen-banner.style-13 .button:hover {
    background-color: #fff;
    color: #000;
}
.unsen-banner.style-14 .banner-content {
    background-color: #fff;
    width: 404px;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: auto;
}
.unsen-banner.style-14 .title {
    font-size: 60px;
    color: #000;
    line-height: 70px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.unsen-banner.style-14 .button {
    font-size: 14px;
    color: #868686;
    text-transform: capitalize;
    border-bottom: solid 2px #868686;
    padding: 0;
}
.unsen-banner.style-14 .button::before {
    background-color: #868686;
}
.unsen-banner.style-14 .button:hover {
    color: #000;
}
.unsen-banner.style-14 .button:hover::before {
    background-color: #000;
}
.row-banner.style-14 {
    margin-left: 0;
    margin-right: 0;
}
.row-banner.style-14 > div {
    padding-left: 0;
    padding-right: 0;
}
.banner-slideshow,
.banner-section.style-15 {
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.banner-slideshow > div,
.banner-section.style-15 > div{
    padding-right: 7.5px;
    padding-left: 7.5px;
}
.banner-slideshow .col-slideshow {
    -ms-flex: 0 0 57.379%;
    flex: 0 0 57.379%;
    max-width: 57.379%;
}
.banner-slideshow .col-banner {
    -ms-flex: 0 0 42.621%;
    flex: 0 0 42.621%;
    max-width: 42.621%;
}
.unsen-banner.style-15 .banner-content {
    max-width: 220px;
    left: 70px;
}
.unsen-banner.style-15 .title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    margin-bottom: 12px;
}
.unsen-banner.style-15 .button {
    color: #868686;
    font-size: 13px;
    border-color: #bbbbbb;
    padding: 0;
}
.unsen-banner.style-15 .button::before {
    background-color: #bbbbbb;
}
.unsen-banner.style-15 .button:hover {
    color: #000;
    border-color: #000;
}
.unsen-banner.style-15 .button:hover::before {
    background-color: #000;
}
.unsen-banner.style-16 .banner-content {
    bottom: 36px;
    left: 0;
    right: 0;
    top: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.unsen-banner.style-16 .title {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}
.unsen-banner.style-16 .subtitle {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
}
.unsen-banner.style-16 .button {
    font-size: 13px;
    color: #868686;
    padding: 0;
    border-bottom: solid 1px #bbbbbb;
}
.unsen-banner.style-16 .button::before {
    background-color: #bbbbbb;
}
.unsen-banner.style-16 .button:hover {
    color: #000;
    border-color: #000;
}
.unsen-banner.style-16 .button:hover::before {
    background-color: #000;
}
@media (max-width: 1770px) {

}
@media (max-width: 1600px) {
    .slideshow .flickity-prev-next-button {
        left: 30px;
    }
    
    .slideshow .flickity-prev-next-button.next {
        left: auto;
        right: 30px;
    }
    
    .slideshow-01 .slide-content {
        left: 100px;
    }
}
@media (max-width: 1440px) {
    
    .slideshow-01 .slide-content {
        padding-left: 15px;
    }
    .unsen-banner.banner-01 .banner-content {
        margin-left: 0;
    }
    .slideshow .flickity-page-dots {
        bottom: 40px;
    }
    .unsen-banner.style-14 .banner-content {
        width: 300px;
        height: 200px;
    }
    .unsen-banner.style-14 .title {
        font-size: 50px;
        line-height: 55px;
    }
}
@media (max-width: 1199px) {
    .slideshow-09 .img {
        max-width: 300px;
        margin: 0 auto;
    }
    .slideshow-09 .button {
        padding: 0 20px;
    }
    .row-banner .banner-02 {
        margin-top: 80px;
    }
    .unsen-banner.banner-05 {
        padding-top: 0;
        margin-bottom: 60px;
    }
    .slideshow .flickity-page-dots {
        bottom: 30px;
    }
    
    .slideshow-04 .slide-content {
        padding-left: 100px;
    }
    .slideshow-04 .item-slide .title,
    .slideshow-05 .item-slide .title,
    .slideshow-07 .item-slide .title {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 20px;
    }
    .slideshow-05 .slide-content .content {
        margin-left: 0;
        max-width: 400px;
    }
    .unsen-banner.style-14 .banner-content {
        width: 230px;
        height: 160px;
    }
    .unsen-banner.style-14 .title {
        font-size: 40px;
        line-height: 45px;
    }
}
@media (max-width: 1024px) {
    .slideshow {
        padding-top: 0;
    }
    .slideshow .flickity-page-dots {
        bottom: 15px;
    }
    .slideshow-02 .item-slide .title,
    .slideshow-04 .item-slide .title,
    .slideshow-05 .item-slide .title,
    .slideshow-06 .item-slide .title {
        font-size: 40px;
        line-height: 40px;
    }
    .slideshow-07 .item-slide .title {
        font-size: 40px;
        line-height: 50px;
    }
    .slideshow-07 .item-slide .content > span {
        display: none;
    }
    .slideshow-07 .item-slide .button {
        padding: 0 20px;
        font-size: 12px;
        line-height: 34px;
    }
    .unsen-banner.style-11 .banner-content {
        left: 40px;
        bottom: 30px;
    }
    .unsen-banner.style-12 .banner-content {
        bottom: 25px;
    }
    
}
@media (max-width: 991px) {
    
    .slideshow-01 .slide-content {
        left: 0;
    }
    .slideshow-03 {
        margin-bottom: 30px;
    }
    .unsen-banner.style-01 .banner-content {
        bottom: 60px;
    }
    .row-banner .banner-02 {
        margin-top: 60px;
    }
}
@media (max-width: 767px) {
    .item-slide .title {
        font-size: 42px;
        line-height: 45px;
    }
    .slideshow .flickity-prev-next-button {
        left: 20px;
        width: 44px;
        height: 44px;
        line-height: 42px;
    }
    .slideshow .flickity-prev-next-button.next {
        right: 20px;
        left: auto;
    }
    .slideshow .flickity-page-dots {
        bottom: 10px;
    }
    .slideshow-03 .item-slide .subtitle {
        letter-spacing: 2px;
        font-size: 14px;
        margin-bottom: 5px;
    }
    .slideshow-03 .item-slide .title {
        font-size: 40px;
        line-height: 40px;
    }
    .slideshow-03 .item-slide .button {
        font-size: 14px;
    }
    .slideshow-04 .item-slide .button {
        font-size: 14px;
        width: auto;
        padding: 0 20px;
        line-height: 40px;
    }
    .unsen-banner.style-01 .banner-content {
        bottom: 40px;
    }
    .row-banner .banner-02 {
        margin-top: 40px;
    }
    .unsen-banner.style-02 .banner-content > span {
        font-size: 50px;
        line-height: 60px;
    }
    .unsen-banner.style-02 .des {
        font-size: 22px;
        line-height: 32px;
    }
    .unsen-banner.style-08 .banner-content {
        left: 6%;
    }
    .unsen-banner.style-10 .banner-content {
        left: 15px;
        bottom: 30px;
    }
    .unsen-banner.style-11 .title {
        font-size: 40px;
        line-height: 40px;
    }
}
@media (max-width: 575px) {
    .slideshow .flickity-button,
    .slideshow .flickity-page-dots {
        display: none;
    }
    .item-slide .title {
        margin-bottom: 0;
    }
    .item-slide .subtitle {
        display: none;
    }
    .item-slide .button {
         width: auto;
         min-width: 1px;
        line-height: 38px;
        margin-top: 10px;
     }
    .slideshow .flickity-prev-next-button {
        font-size: 12px;
        width: 36px;
        height: 36px;
        line-height: 34px;
        left: 15px;
    }
    
    .slideshow .flickity-prev-next-button.next {
        left: auto;
        right: 15px;
    }
    
    .slideshow .item-slide .subtitle,
    .slideshow-02 .item-slide .subtitle {
        font-size: 14px;
    }
    
    .slideshow .item-slide .title,
    .slideshow-02 .item-slide .title,
    .slideshow-04 .item-slide .title,
    .slideshow-05 .item-slide .title,
    .slideshow-06 .item-slide .title,
    .slideshow-07 .item-slide .title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slideshow-06 .slide-content {
        bottom: 60px;
    }
    
    .slideshow-02 .item-slide .button {
        line-height: 40px;
        min-width: 1px;
        margin-top: 10px;
    }
    .unsen-banner.style-01 .banner-content {
        bottom: 30px;
    }
    .unsen-banner.style-01 .title {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .row-banner .banner-02 {
        margin-top: 30px;
    }
    .unsen-banner.style-04 .title {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 10px;
    }
    .unsen-banner.style-09 .banner-content {
        bottom: 30px;
    }
    .unsen-banner.style-11 .banner-content {
        left: 15px;
        bottom: 15px;
    }
    .unsen-banner.style-11 .title {
        margin-bottom: 10px;
        font-size: 30px;
        line-height: 30px;
    }
}
@media (max-width: 480px) {
    
    .slideshow .item-slide .title ,
    .slideshow-02 .item-slide .title,
    .slideshow-04 .item-slide .title,
    .slideshow-05 .item-slide .title,
    .slideshow-06 .item-slide .title,
    .slideshow-07 .item-slide .title {
        font-size: 24px;
        line-height: 32px;
    }
    .slideshow .item-slide .subtitle,
    .slideshow-02 .item-slide .subtitle,
    .slideshow-03 .item-slide .subtitle,
    .slideshow-05 .item-slide .subtitle {
        display: none;
    }
    .slideshow .item-slide .button {
        font-size: 14px;
    }
    .slideshow-06 .slide-content {
        bottom: 40px;
    }
}
@media (max-width: 360px) {

}